.myphoto {
  max-width: 90%;
  width: 80rem;
  padding:5% 0;

}

.maincontainer {
  display: flex;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.photoarea {
  width: 95%;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.img-container {
  max-width: 80%;
  width: 60rem;
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 10%;
  padding: 5%;
}

.namearea {
  width: 5%;
  text-align: center;

}

.vertical {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
}

.namearea p {
  font-size: 15px;
  letter-spacing: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100%;
}

@media only screen and (min-width:651px){/* 中画面用 */
  .namearea p{
    font-size: 20px;
    letter-spacing: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100%;
  }
  }
   
  @media only screen and (min-width:961px){/* 大画面用 */
    .namearea p{
    font-size: 30px;
    letter-spacing: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100%;
  }
}

.img-wrap:before {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap {
  100% {
    transform: translateX(-100%);
  }
}